/* base */

html,
body {
    font-family: roboto Condensed;
    font: size 16px;
    line-height: 1.4;
    height: 100%;


    margin: 0;
    padding: 0;
}

/* titre */

h2 {
    text-align: center;
}

/* conteneur principal */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

/* header */

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 70px;
    line-height: 70px;
    color: #fff;

    background-color: cornflowerblue;

}

.footer {
    height: 70px;
    line-height: 70px;
    color: #fff;

    background-color: cornflowerblue;

}

.divlogo {}

.logo {}

.item1 {}

.item2 {}

.item3 {}

.section1 {}

.section2 {}

.section3 {}

.section4 {}


